@inherits LayoutComponentBase

<link rel="stylesheet" href="css/headers.css"/>
<link rel="stylesheet" href="css/bootstrap5/bootstrap.min.css"/>
<div class="page">
    <TopNavBar/>
    <div class="main" style="background: #212529; color: #ffffff;">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<style>
    body {
        background: #212529;
    }
</style>